/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #3498db;
    text-align: center;
}

/* Centrado del título de la Galería */
.titulo-galeria {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos de la Galería */
.slider {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 60%; /* Reducción del tamaño de las imágenes */
    height: auto;
    margin: 0 auto;
    display: block;
}


/* Footer */


footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;

}
	
#footer > .inner {
    margin: 0 auto;
    width: 80em;
}

@media screen and (max-width: 1280px) {

    #footer > .inner {
        width: 65em;
    }

}

@media screen and (max-width: 980px) {

    #footer > .inner {
        width: 90%;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3em 1em 1em 1em;
    }

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 600px;
}

#footer p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;;
}
section#informacion {
    margin: 0 auto;
    max-width: 900px;
}
section#lavadero {
    margin: 0 auto;
    max-width: 900px;
}