/* Estilos para el mensaje de cookies */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px); /* Ajustamos el ancho para dar margen */
    margin-right: 20px; /* Margen a la derecha */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left; /* Alineamos el texto a la izquierda */
    padding: 15px;
    font-size: 14px;
    z-index: 1000;
    display: flex;
    align-items: center; /* Alineamos verticalmente el icono y el texto */
    justify-content: space-between; /* Espacio entre el icono, texto y botones */
}

.cookie-banner i {
    font-size: 24px; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
}

.cookie-banner p {
    margin: 0;
    padding-bottom: 10px;
    flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
    padding-right: 15px; /* Añadimos espacio entre el texto y los botones */
    display: inline-block; /* Hace que el texto se muestre en línea con el icono */
}

.cookie-banner a {
    color: #FFD700;
    text-decoration: none;
}

.cookie-banner a:hover {
    text-decoration: underline;
}

.cookie-section {
    display: flex;
}

.cookie-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

.accept-cookies,
.reject-cookies {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
}

.accept-cookies {
    background-color: #1caf4f;
}

.accept-cookies:hover {
    background-color: #179c3f;
}

.reject-cookies {
    background-color: #d71e1e;
}

.reject-cookies:hover {
    background-color: #b51919;
}

